.elementor-225 .elementor-element.elementor-element-b127b5e:not(.elementor-motion-effects-element-type-background),
.elementor-225 .elementor-element.elementor-element-b127b5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    /* background-color: #007BFF; */
    background-color: pink;
}

.elementor-225 .elementor-element.elementor-element-b127b5e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-225 .elementor-element.elementor-element-b127b5e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-225 .elementor-element.elementor-element-a48fa33 {
    --spacer-size: 50px;
}

.elementor-225 .elementor-element.elementor-element-afb0964 .elementor-heading-title {
    color: #FCFEFF;
}

.elementor-225 .elementor-element.elementor-element-7973574 {
    color: #FFFFFF;
}

.elementor-225 .elementor-element.elementor-element-05aa557 {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-05aa557 .elementor-heading-title {
    color: #FCFEFF;
}

.elementor-225 .elementor-element.elementor-element-75267c3 .elementor-heading-title {
    color: #FCFEFF;
}

.elementor-225 .elementor-element.elementor-element-83a01de {
    color: #FFFFFF;
}

.elementor-225 .elementor-element.elementor-element-1933c92.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-1933c92.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-1933c92.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-1933c92 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-1933c92 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-1933c92 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-1933c92 .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-1933c92 .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-1933c92>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-02fc7c7.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-02fc7c7.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-02fc7c7.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-02fc7c7 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-02fc7c7 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-02fc7c7 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-02fc7c7 .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-02fc7c7 .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-02fc7c7>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-089cd09.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-089cd09.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-089cd09.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-089cd09 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-089cd09 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-089cd09 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-089cd09 .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-089cd09 .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-089cd09>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-83d9744.elementor-position-right .elementor-image-box-img {
    margin-left: 26px;
}

.elementor-225 .elementor-element.elementor-element-83d9744.elementor-position-left .elementor-image-box-img {
    margin-right: 26px;
}

.elementor-225 .elementor-element.elementor-element-83d9744.elementor-position-top .elementor-image-box-img {
    margin-bottom: 26px;
}

.elementor-225 .elementor-element.elementor-element-83d9744 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-83d9744 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-83d9744 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-83d9744 .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-83d9744 .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-83d9744>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-260c752.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-260c752.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-260c752.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-260c752 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-260c752 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-260c752 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-260c752 .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-260c752 .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-260c752>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-c759f2d.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-c759f2d.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-c759f2d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-c759f2d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-c759f2d .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-c759f2d .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-c759f2d .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-c759f2d .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-c759f2d>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-61a8127.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-61a8127.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-61a8127.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-61a8127 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-61a8127 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-61a8127 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-61a8127 .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-61a8127 .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-61a8127>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-a5fe9ee>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-591551e.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-591551e.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-591551e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-591551e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-591551e .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-591551e .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-591551e .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-591551e .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-591551e>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-7060d62.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-7060d62.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-7060d62.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-7060d62 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-7060d62 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-7060d62 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-7060d62 .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-7060d62 .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-7060d62>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-a6c14ce.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-225 .elementor-element.elementor-element-a6c14ce.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-225 .elementor-element.elementor-element-a6c14ce.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-225 .elementor-element.elementor-element-a6c14ce .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-225 .elementor-element.elementor-element-a6c14ce .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-225 .elementor-element.elementor-element-a6c14ce .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-225 .elementor-element.elementor-element-a6c14ce .elementor-image-box-title {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-a6c14ce .elementor-image-box-description {
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-a6c14ce>.elementor-widget-container {
    padding: 30px 20px 30px 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

.elementor-225 .elementor-element.elementor-element-87e1305 {
    --spacer-size: 77px;
}

.elementor-225 .elementor-element.elementor-element-d5a3db0 {
    text-align: center;
}

.elementor-225 .elementor-element.elementor-element-d5a3db0 .elementor-heading-title {
    color: #FCFEFF;
}

.elementor-225 .elementor-element.elementor-element-08e5a31 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-225 .elementor-element.elementor-element-8b2bcba {
    text-align: right;
    color: var(--e-global-color-08181fd);
}

.elementor-225 .elementor-element.elementor-element-8b2bcba>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-225 .elementor-element.elementor-element-b5a975e .elementor-icon-list-icon i {
    color: var(--e-global-color-08181fd);
    transition: color 0.3s;
}

.elementor-225 .elementor-element.elementor-element-b5a975e .elementor-icon-list-icon svg {
    fill: var(--e-global-color-08181fd);
    transition: fill 0.3s;
}

.elementor-225 .elementor-element.elementor-element-b5a975e {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-225 .elementor-element.elementor-element-b5a975e .elementor-icon-list-text {
    color: var(--e-global-color-08181fd);
    transition: color 0.3s;
}

:root {
    --page-title-display: none;
}

@media(max-width:767px) {
    .elementor-225 .elementor-element.elementor-element-1933c92 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-02fc7c7 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-089cd09 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-83d9744 .elementor-image-box-img {
        margin-bottom: 26px;
    }

    .elementor-225 .elementor-element.elementor-element-260c752 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-c759f2d .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-61a8127 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-a5fe9ee .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-591551e .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-7060d62 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-225 .elementor-element.elementor-element-a6c14ce .elementor-image-box-img {
        margin-bottom: 0px;
    }
}